.divHeader{
  font-size: xx-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 100px;
}
.joinUs{
  font-size: xx-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#e2ae70;
}
.specialOffers{
 text-align: center;
 font-family:serif;
 
}

.offers_content{
  border-bottom: 2px solid black;
}
.offers_content .container{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}
.card{
  /* height:290px; */
 width:350px;
  margin:100px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  background-color: white;
  transition: 0.7s;
}
.imgOff{
  height:200px;
  width:100%;
}

 img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

/* html,body{
  display:grid;
place-items:center;
height: 100%;
background: #f2f2f2;
} */


.card .topTxt{
  padding: 5px;

}

.card .topTxt .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
  text-align: center;
}

.card .bottomTxt {
  padding: 0 20px 10px 20px;
  margin-top: 10px;
  background-color: white;
  /* display: none;  */
  /* transition: 0.4s; */
}
.card .bottomTxt .txt{
  text-align: center;

}

/* .card:hover .bottomTxt {
  display: block; 
  opacity: 1;
} */

/* .card:hover{
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2); */
}
.oldPrice{
  color: red;
  font-size: x-large;
}
.newPrice{
color:green;
font-size: x-large;
}

s{
  color: red;
}


.intro{
  margin: 100px;
  padding: 10px;
  width: 100%;
  /* text-wrap: wrap; */
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-align: center;
  border: 1px solid;
  border-radius: 50px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  background-color: aliceblue;
  
}

.Events {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center; 

  width: 100%;
}

.specialGuests{
  padding:20px;
  width:100%;
  height: auto;
  border:0.5 px solid;
  background-color: #FBFBFB;
  display: flex;
  flex-direction:column;
  margin: 20px;
  text-align: center;
}
.guest{
  margin: 40px;
  width: 90%;
  height: 250px;
  /* box-shadow: 2px 2px 5px rgba(0,0,0,0.6); */
  transition: 0.7s;
  border: 0.5px solid;
  border-radius: 50px;
  display: flex;
  background-color:#D4F6FF;
}
.guestImg{
  width: 200px;  
  height: 200px; 
  border-radius: 50%;  
  overflow: hidden;  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.guestImg img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.guestTxt {
margin: 20px;
font-size: 1.2em; 
font-family: 'Arial', sans-serif; 
color: #333; 
font-weight: bold;
align-items: center;
}

.guestDescrip{
margin-top: 40px;
}

.details{
font-weight: bolder;
font-size: xx-large;
display: flex;
flex-direction: column;
justify-content: flex-start; 
}

.place{
height: 100px;
width: 100;
margin: 70px;
background-color: #D4F6FF;
border: 1px #D4F6FF dashed;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;
}

.dateTime{
height: 100px;
width: 100;
margin: 70px;
background-color: #D4F6FF;
border: 1px #D4F6FF dashed;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;
}


.guest:hover{
box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
/* width: 100%; */
}
.card:hover{
/* width:450px; */
transform: scale(1.1);
box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.input-wrap button[type="submit"] {
  width: fit-content;
    padding: 0 15px;
    border: none;
    background: #c15508;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  position: absolute;
  /* fixed if i want the header to be fixed while scrolling */
  left: 0;
  width: 100%;
  z-index: 10;
  /* always appear*/
  background-color: transparent;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .logo img {
  width: 115px;
  height: auto;
  display: block;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 767px) {
  .hideOnMobile {
    display: none;
  }
}

header nav ul li a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  transition: color 0.3s, border-bottom 0.3s;
}

header nav ul li a:hover,header nav ul li a.active {
  color: #d1a48c;
  border-bottom: 1px solid #b88f78;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgb(255 255 255 / 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(0 0 0 / 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.menu-icon {
  z-index: 999;
  display: none;
}
@media (max-width: 767px) {
  .menu-icon {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

.landing {
  min-height: 100vh;
  /*viewport*/
  display: flex;
  flex-direction: column;
  background-image: url(../imgs/19c9335a-0ddd-4707-9729-f1a189d3eb04.jpg);
  background-size: cover;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 0;
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  z-index: 1;
}

.landing .text {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
}

.landing p {
  color: white;
  font-size: 1.2em;
  /* z-index: 2; */
  font-family: monospace;
  letter-spacing: 13px;
}

.landing h1 {
  color: white;
  font-size: 6.5em;
  font-family: "Dancing Script", cursive;
  z-index: 2;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .landing h1 {
    font-size: 4em;
  }

  .landing p {
    font-size: 0.8em;
    letter-spacing: 10px;
  }
}

button a {
  text-decoration: none;
  color: white;
}

button {
  position: relative;
  height: 45px;
  width: 100px;
  z-index: 3;
  font-size: 20px;
  font-family: auto;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  border-color: #b88f78;
  transition: 0.6s;
}

button::before,button::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.6;
  transition: 0.6s;
}

button::before {
  width: 60px;
  background: rgba(255,255,255, 0.6);
  transform: translateX(-130px) skewX(-45deg);
}

button::after {
  width: 30px;
  background: rgba(255,255,255, 0.6);
  transform: translateX(-130px) skewX(-45deg);
}

button:hover:before,button:hover:after {
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}

button:hover {
  background: #b88f78;
}


footer ul {
  list-style: none;
}

footer {
  color: #fff;
  background-color: #121315;
}

footer p {
  color: #ccc;
  max-width: 25em;
  font-size: 0.9em;
  line-height: 23px;
}

footer a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 1em;
  text-transform: uppercase;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.addres {
  display: block;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1em;
}

.media-icon li {
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
}

.media-icon a {
  font-size: 0.8em;
  width: 2em;
  height: 2em;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.media-icon a:hover {
  background: #fff;
  color: #111;
}

footer .menu{
  margin-bottom: 3em;
}

footer .menu li {
  display: inline-block;
  margin: 0 0.7em 0.7em 0;
  text-align: center;
}

footer .menu a {
  transition: 0.3s;
  font-weight: 600;
}

footer .menu a:hover {
  color: #b88f78;
}

.input-wrap {
  margin: 1em 0;
  display: flex;
}

.input-wrap input {
  padding: 0.5em;
  border: none;
  background-color: #20232a;
  color: #ccc;
}

body{
  display: flex;
  flex-direction: column;
  bottom: 0;
}
